.menu-item {
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;

  &:hover {
    .menu-item__text {
      color: $accent;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    @include font(18, 18);
    color: $accent;
    margin-right: 15px;
  }

  &__text {
    @include font(14, 14);
    transition: color $transition-time;
  }
}
