.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 24px;
  border-radius: $border-radius-button;

  &--accent {
    background-color: $accent;
    color: $white;
  }
}

