.profile-block {
  display: flex;
  flex-direction: column;

  &__avatar {
    flex-shrink: 0;
    margin: 0 auto;

    &:hover .avatar__overlay {
      opacity: 1;
      pointer-events: all;
    }

    &--button {
      width: auto;
      padding: 0;
      border-radius: 50%;
    }

    & + .profile-block__name {
      margin-top: 21px;
    }
  }

  &__name {
    flex-shrink: 0;
    @include font(20, 20);
    text-align: center;

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__list {
    padding: 60px 0;
    list-style: none;
  }

  &__list-item {
    border-bottom: 1px solid $bg;

    &:last-child {
      border-bottom: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__actions {
    margin-top: auto;
    min-height: 150px;
  }

  &__button-save {
    width: 280px;
    margin: 0 auto;
  }
}
