.enter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding: 50px 30px 30px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 340px;

  &__title {
    margin-bottom: 40px;
  }

  &__form {
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }
}
