.menu-block {
  position: relative;

  &:hover {
    .menu-block__button {
      background-color: $bg;
      color: $accent;
      outline: none;
    }
    .menu-block__wrap {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
    @include font(18, 18);
    transition: all $transition-time;
  }

  &__wrap {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all $transition-time;
  }

  &__list {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 16px;
    list-style: none;
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--bottom-left {
    .menu-block__wrap {
      padding-top: 24px;
      top: 32px;
      right: 0;
    }
  }

  &--top-right {
    .menu-block__wrap {
      padding-bottom: 24px;
      bottom: 32px;
      left: 0;
    }
  }
}
