.profile-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 510px;
  padding: 10px 0;

  &__label {
    width: 220px;
    @include font(16, 16);
  }

  &__value {
    width: calc(100% - 220px);
    @include font(14, 14);
    border: none;
    text-align: right;
    outline: none;
    color: $gray;
    background-color: transparent;
  }
}
