@import './scss/mixins';
@import './scss/variables';
@import './scss/normalize';
@import './scss/reset';

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
  font-size: $font_base * 1px;
  line-height: $font_base *1.2 * 1px;
  font-weight: 500;
  color: $black;
}

#app {
  width: 100%;
  height: 100%;
}

// layout
@import './layout/layout';

// components
@import 'components/aside/index';
@import 'components/avatar/index';
@import 'components/boxModal/index';
@import 'components/button/index';
@import 'components/chatFooter/index';
@import 'components/chatHeader/index';
@import 'components/chatItem/index';
@import 'components/chatList/index';
@import 'components/enterBox/index';
@import 'components/enterForm/index';
@import 'components/error/index';
@import 'components/formMessage/index';
@import 'components/inputGroup/index';
@import 'components/inputUploadFile/index';
@import 'components/link/index';
@import 'components/main/index';
@import 'components/menuBlock/index';
@import 'components/menuItem/index';
@import 'components/message/index';
@import 'components/messages/index';
@import 'components/modal/index';
@import 'components/name/index';
@import 'components/profile/index';
@import 'components/profileActionsList/index';
@import 'components/profileBlock/index';
@import 'components/profileItem/index';
@import 'components/search/index';

// blocks

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

