// colors
$accent: #F05A3B;
$white: #FFFFFF;
$bg: #F4F1F2;
$gray: #B9B9B9;
$gray_dark: #717171;
$black: #333333;
$error: #FF2F2F;
$accent_light: rgba($accent, 0.1);

// fonts
$font_base: 16;
$font_base_px: $font_base * 1px;

// transition
$transition-time: 0.15s;

// border
$border-radius: 12px;
$border-radius-button: 8px;

// box-shadow
$box-shadow: 0px 0px 6px rgba($black, 0.15);
